@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-text-primary-dark: #31261a;
  --color-text-primary-light: #faf4ea;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-text-primary-dark);
  background-color: var(--color-text-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.button {
  padding: 16px 32px;
  width: 238px;
  height: 59px;
  background-color: var(--color-brand-light);
  color: var(--color-text-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* header section */
.menu-item {
  color: var(--color-text-primary-light);
}

.menu-item:hover {
  color: var(--color-brand-light);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header__menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* hero section */
.hero-section {
  padding: 272px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hero-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(../images/hero-background.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  transform: scaleX(-1);
  z-index: -1;
}

.hero-section__title {
  color: var(--color-text-primary-light);
  font-size: 128px;
  font-weight: 900;
  text-align: center;
}

.hero-section__title .accent {
  color: var(--color-brand-light);
}

/* advantages section */
.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}

.advantages__quality-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages__quality-item {
  color: var(--color-text-primary-light);
  font-size: 20px;
  font-weight: 300;
}

/* traditions section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions__text-container {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.section__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
}

.section__title.centered {
  text-align: center;
}

.section__title .accent {
  color: var(--color-brand-dark);
}

.traditions-text .accent {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text:last-child {
  max-width: 330px;
}

/* chefs section */
.chefs-list {
  display: flex;
  gap: 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-text-primary-light),
    -16px 16px 0 2px rgba(161, 130, 104, 1);
}

.chef-title {
  max-width: 520px;
  margin: 0 auto 80px;
}

.chef-title::before,
.chef-title::after {
  content: '';
  display: block;
  width: 352px;
  border: 2px solid rgba(207, 207, 188, 1);
}

.chefs-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* formats section */
.formats-container {
  display: flex;
  gap: 38px;
  align-items: center;
}

.formats-list {
  display: flex;
  gap: 20px;
}

.format-card {
  border: 1px solid lightblue;
  border-radius: 16px;
  padding: 24px;
  max-width: 350px;
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-text-primary-dark) 100%
  );
}

.format-title {
  margin-bottom: 80px;
}

.formats-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  font-size: 14px;
  font-weight: 300;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  fill: var(--color-text-primary-dark);
  background-color: transparent;
  border: 1px solid var(--color-text-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-text-primary-dark);
  fill: var(--color-text-primary-light);
}

/* contact section */
.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-title {
  margin-bottom: 16px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

/* footer section */
.address-link {
  color: var(--color-text-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-icon {
  fill: var(--color-text-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  color: #a18268;
}

.footer {
  background-image: url(../images/footer-background.png);
  background-color: var(--color-text-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu,
.address-menu,
.address-info {
  flex-grow: 1;
}
