@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-text-primary-dark: #31261a;
  --color-text-primary-light: #faf4ea;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-text-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.button {
  padding: 16px 32px;
  width: 238px;
  height: 59px;
  background-color: var(--color-brand-light);
  color: var(--color-text-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.menu-item {
  color: var(--color-text-primary-light);
}

.menu-item:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

.hero-section {
  padding: 272px 0;
}

.hero-section__title {
  color: var(--color-text-primary-light);
  font-size: 128px;
  font-weight: 900;
  text-align: center;
}

.hero-section__title .accent {
  color: var(--color-brand-light);
}

.traditions-section__quality-list {
  background-color: var(--color-brand-light);
  color: var(--color-text-primary-light);
}

.traditions-section__quality-item {
  font-size: 20px;
  font-weight: 300;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.section__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section__title .accent {
  color: var(--color-brand-dark);
}

.traditions-text .accent {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.chef-title {
  margin-bottom: 80px;
}

.chefs-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.format-title {
  margin-bottom: 80px;
}

.formats-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  font-size: 14px;
  font-weight: 300;
}

.contact-title {
  margin-bottom: 16px;
}

.address-link {
  color: var(--color-text-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  color: #a18268;
}
